<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="right"
        connectionString="rightconnectionString"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="right" value="right2"/>
  </appSettings>
</configuration>