<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="DatabaseUnitTesting" type="Microsoft.Data.Schema.UnitTesting.Configuration.DatabaseUnitTestingSection, Microsoft.Data.Schema.UnitTesting, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <connectionStrings>
    <add name="ServiceInterfaceFramework.Properties.Settings.ServerMvcWmsConnectionString"
      connectionString="Data Source=192.168.1.9;Initial Catalog=MvcWms;Persist Security Info=True;User ID=szytghq;Password=szytghq;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="ServiceInterfaceFramework.Properties.Settings.ClientMvcWmsConnectionString"
      connectionString="Data Source=|DataDirectory|\MvcWms.sdf;Max Database Size=2047"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="ServiceInterfaceFramework.Properties.Settings.Database1ConnectionString"
      connectionString="Data Source=|DataDirectory|\Database1.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <DatabaseUnitTesting>
    <DataGeneration ClearDatabase="true" />
    <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=192.168.1.9;Initial Catalog=MvcWms;Persist Security Info=True;User ID=szytghq;Pooling=False;MultipleActiveResultSets=True"
      CommandTimeout="30" />
    <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=192.168.1.9;Initial Catalog=MvcWms;Persist Security Info=True;User ID=szytghq;Pooling=False;MultipleActiveResultSets=True"
      CommandTimeout="30" />
  </DatabaseUnitTesting>
  <log4net>
    <appender name="DebugErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\LogDebug\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd&quot;.txt&quot;" />
      <maxSizeToRollBackups value="-1" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="PacketAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\Packet\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd&quot;.txt&quot;" />
      <maxSizeToRollBackups value="-1" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="ActionAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\Action\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd&quot;.txt&quot;" />
      <maxSizeToRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <logger name="DEBUG_ERROR">
      <level value="DEBUG_ERROR" />
      <appender-ref ref="DebugErrorAppender" />
    </logger>
    <logger name="PACKET">
      <level value="INFO" />
      <appender-ref ref="PacketAppender" />
    </logger>
    <logger name="ACTION">
      <level value="INFO" />
      <appender-ref ref="ActionAppender" />
    </logger>
  </log4net>

  <appSettings>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LogisticsWSSoap" />
        <binding name="RequestsThePlatformInterfaceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="LogisticsWSSoap">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="RequestsThePlatformInterfaceSoap">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.9:8018/LogisticsWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="LogisticsWSSoap"
                contract="LogisticsWs.LogisticsWSSoap" name="LogisticsWSSoap" />
      <endpoint address="http://192.168.1.24:88/RequestsThePlatformInterface.asmx"
                binding="basicHttpBinding" bindingConfiguration="RequestsThePlatformInterfaceSoap"
                contract="RequestPlatform.RequestsThePlatformInterfaceSoap"
                name="RequestsThePlatformInterfaceSoap" />
    </client>
  </system.serviceModel>
</configuration>
